{% extends 'base.html.twig' %}
{% block stylesheets%}
<link href="{{ asset('assets/css/estilsseccio.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h2 id="titolinici"> Títol del inici </h2>
    <p id="paragrafinici">Paràgraf del inici</p>

    <a href="{{path('dades_seccio', {'codi':3} )}}">
        <img id="imatgeinici" src="https://img.freepik.com/free-vector/shop-with-sign-we-are-open_52683-38687.jpg" />
    </a>
{% endblock %}