{% extends 'base.html.twig' %}

{% block body %}
    <h2 id="titolinici"> Títol del inici </h2>
    <p id="paragrafinici">Paràgraf del inici bla bla bla</p>

    <img id="imatgeinici" src="https://media.discordapp.net/attachments/256370845876879371/1327733790285758535/Gg9BT6AXQAE-Co0.png?ex=67857573&is=678423f3&hm=afdc00c94c434e47c4862a5908151f9b8164970abca830a256ee522dd804fdbd&=&format=webp&quality=lossless&width=700&height=467" />
{% endblock %}